.box1{
    background: red;
    padding: 50px;
    height: 150px;
    width: 150px;
    margin: 10px;

}

h1{
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

h2{
    text-align: center;
}